
* { box-sizing: border-box; }

:root{
  --bg-color: #9CCB16;
  --color: black;
  --font-fam: Times New Roman;
  --font-fam-2: Arial Narrow;
  --header-font-size: 28px;
  --subtitle-font-size: 20px;
  --subtitle-style: normal;
  --subtitle-weight: 400;
}

#loom-companion-mv3 {
  display: none;
}
#huntr-react-container {
  display: none;
}
#simplifyJobsContainer {
  display: none;
}

body {
  margin: 10vw;
  padding:0;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--font-fam);
  min-height: 100vh;
  line-height: 1.36;
  text-rendering: optimizeLegibility;
}

/* landing page */
h2, h3, svg{
  margin-left: 2rem;
}

h2 {
  font-size: var(--header-font-size); 
}

h3 {
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-style);
  font-weight: var(--subtitle-weight);
}

hr {
margin-top: 1rem;
width: 27.5rem;
height: 1px;
border:0;
border-bottom:1px solid var(--color);
}

#content {
border: 1px solid var(--color);
width: 30rem;
height: 610px;
flex-shrink: 0;
background: rgba(217, 217, 217, 0.00);
margin: -3rem auto;
padding: 2rem 1rem 1rem;
text-align: left;
position: relative;
}

ul {
  list-style-type: none;
  padding-left: .5vw;
}

li {
  margin-top: 4.5vh;
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
}
svg {
  margin-right: 20px;
  color: var(--color);
}
circle{
  fill: black;
}

a {
  text-decoration: none;
  color: var(--color);

}
/* library page */

#back-button {
  border: 1px solid var(--color);
  border-radius: 15px;
  position:absolute;
  top:4.5vh;
  padding:.5rem 1rem;
 
}

 #projects-container-hr{
  width:80vw;
 
 }

#projects-container {
  border: 1px solid var(--color);
  height: 80vh;
  margin: -3rem auto;
}

.project-item  h3{
  font-size: 1.25rem;
  margin-left: 0;
}

.image-box {
  border: 1px solid var(--color);
  width: 15vw;
  height: 20vh;
  flex-shrink: 0;
  margin-bottom: 3vh;
  overflow: hidden;
  

}
.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects-items-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  place-items:center;
  
}

.card-button {
  display: flex;
  justify-content: space-around;
}

.card-button a {
  border: 1px solid var(--color);
  border-radius: 15px;
  padding:.5rem 1rem;

}

