
* { box-sizing: border-box; }

:root{
  --bg-color: #9CCB16;
  --color: black;
  --font-fam: Times New Roman;
  --font-fam-2: Arial Narrow;
  --header-font-size: 28px;
  --subtitle-font-size: 20px;
  --subtitle-style: normal;
  --subtitle-weight: 400;
}

#loom-companion-mv3 {
  display: none;
}
#huntr-react-container {
  display: none;
}
#simplifyJobsContainer {
  display: none;
}

body {
  margin: 100px;
  padding:0;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--font-fam);
  min-height: 100vh;
  line-height: 1.36;
  text-rendering: optimizeLegibility;
}

h2, h3, svg{
  margin-left: 20px;
}

h2 {
  font-size: var(--header-font-size); 
}

h3 {
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-style);
  font-weight: var(--subtitle-weight);
}

hr {
margin-top: 40px;
width: 440px;
height: 1px;
border:0;
border-bottom:1px solid var(--color);
}

#content {
border: 1px solid var(--color);
width: 486px;
height: 610px;
flex-shrink: 0;
background: rgba(217, 217, 217, 0.00);
margin: 100px auto;
padding: 24px 16px 16px;
text-align: left;
position: relative;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  margin-top: 40px;
  font-family: var(--font-fam-2);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-weight);
  font-style: var(--subtitle-style);
}
svg {
  margin-right: 20px;
  color: var(--color);
}
circle{
  fill: black;
}

a {
  text-decoration: none;
  color: var(--color);

}

#back-button {
  border: 1px solid var(--color);
  border-radius: 15px;
  position:absolute;
  top:40px;
  padding:8px 16px;
 
}

 #projects-container-hr{
  width:80vw;
 
 }

#projects-container {
  border: 1px solid var(--color);
  height: 80vh;
}

.project-item{
  /* border: 1px solid var(--color);
  padding: 40px;
  position: relative; */
  
}

.project-item  h3{
  font-size: 20px;
  margin-left: 0;
}

.image-box {
  border: 1px solid var(--color);
  width: 210px;
  height: 160px;
  flex-shrink: 0;
  margin-bottom: 10px;

}

.projects-items-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  place-items:center;
  
}

.card-button {
  display: flex;
  justify-content: space-around;
}

.card-button a {
  border: 1px solid var(--color);
  border-radius: 15px;
  padding: 6px 12px;

}


@media (max-width: 1140px){
  #projects-container-hr{
    width:70vw;
  }
}

@media (max-width: 940px){
  #projects-container-hr{
    width:66vw;
  }
}

@media(max-width: 670px) {
  #projects-container-hr{
    width:52vw;
  }
}

@media(max-width: 480px) {
  #projects-container-hr{
    width:40vw;
  }
}